@import '~settings';

.aspect {
    $this: &;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;

    &__bar {
        width: 100px;
        height: 10px;
        border-radius: 8px;
        background-color: $color-pale-grey;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }

    &__indicator {
        position: absolute;
        z-index: 1;
        width: 0;
        height: 100%;
        background-image: $gradient-green;
    }

    &__rating {
        font-weight: $weight-black;
        color: $color-navy;
        margin: 0 12px;
    }

    & + & {
        margin-top: 25px;
    }
}