$color-white: #fff;
$color-black: #000;

$color-navy: #011322;
$color-charcoal: rgba(63, 60, 81, 0.2);
$color-greyish-brown: #595959;
$color-warm-grey: #767676;
$color-light-grey: #f1f5f9;
$color-pale-grey: #e5ebf1;
$color-light: #e5e5e5;
$color-cloudy-blue: #ccd5dd;

$color-mint: #07a683;
$color-cyan: #09c199;

$color-peach: #fd935d;
$color-salmon: #fc8e76;

$gradient-orange: linear-gradient(256deg, $color-peach, $color-salmon);
$gradient-green: linear-gradient(to right, $color-mint, $color-cyan);